.grid {
  display: grid;
  gap: 0.75rem 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.navbar {
  display: grid;
  justify-items: center;
}

.form {
  display: grid;
  justify-items: center;
}

.span {
  color: #fff;
  text-transform: capitalize;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
}

.brand {
  margin: 0;
  color: #fff;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 800;
  padding: 0.75rem 0;
  text-transform: capitalize;
}

.label {
  width: 100%;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0.5rem 0;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
}

.button {
  font-size: 1rem;
  line-height: 1rem;
  text-transform: capitalize;
  background-color: transparent;
  padding: 0.5rem 0.75rem;
  margin: 0.75rem 0;
  font-family: inherit;
  font-weight: 800;
  color: #fff;
  cursor: pointer;
  width: 100%;
  border: 0;
}

.signIn {
  border-radius: 9999px;
  box-shadow: var(--main-shadow);
}

.signUp {
  border-radius: 9999px;
  background-color: #1eaedb;
}

.adminUser {
  border-radius: 0.25rem;
  background-color: #1eaedb;
}

.toggleShow {
  display: none;
}

.input {
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  font-family: inherit;
  color: #383838;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 700;
  border: 0;
}

.input::placeholder {
  color: #76838a;
}

.input:focus {
  outline: 0;
}

.image {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.notifier span {
  font-size: 1.25rem;
  line-height: 1.25rem;
  background-color: rgb(255 127 72 / 0.95);
  text-transform: capitalize;
  border-radius: 0.25rem;
  padding: 0.5rem 3rem;
  margin: 1rem 0;
  font-weight: 700;
  color: #fff;
}

.notifier {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.notifierError span {
  background-color: rgb(231 76 60 / 0.95);
}

@media (min-width: 640px) {
  .input {
    width: 28rem;
  }

  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .image {
    height: 250px;
  }

  .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
